body {
  background-color: #000; /* 黒背景 */
  color: #fff;            /* 白文字 */
  font-family: 'Baumans', sans-serif;
}
.item {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 2rem;
}

.item p {
  padding: .5em;
  margin-bottom: 1em;
  border-left: 5px solid #d4af37;
}

.item img {
  width: 512px;
  height: 512px;
  object-fit: cover;
  padding: 8px;
  background: #111;
  border: 1px solid rgba(255,255,255,0.3);
}

.work img {
  width: 775px;
  padding:8px;
  background: #111;
  border: 1px solid rgba(255,255,255,0.3);
}

.work video {
  width: 775px;
  padding:8px;
  background: #111;
  border: 1px solid rgba(255,255,255,0.3);
}

.work {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.item.reverse {
  flex-direction: row-reverse;
}

.banner {
  background-image: url("mokume34.png");
  background-position: left top;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}
