body {
  background-color: #000; /* 黒背景 */
  color: #fff;            /* 白文字 */
  font-family: 'Baumans', sans-serif;
}
.item {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 2rem;
}

.item img {
  width: 512px;
  height: 512px;
  object-fit: cover;
  padding: 8px;
  background: #111;
  border: 1px solid rgba(255,255,255,0.3);
}

.work img {
  width: 600px;
  padding:8px;
  background: #111;
  border: 1px solid rgba(255,255,255,0.3);
}

.item.reverse {
  flex-direction: row-reverse;
}

.banner {
  background-image: url("mokume34.png");
  background-position: left top;
  background-repeat: no-repeat;
}
