body {
  background-color: #000; 
  color: #fff;
  font-family: 'Baumans', sans-serif;
}
.item {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 2rem;
}

.item p {
  padding: .5em;
  margin-bottom: 1em;
  border-left: 5px solid #d4af37;
}

.item img {
  width: 512px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  padding: 8px;
  background: #111;
  border: 1px solid rgba(255,255,255,0.3);
}

.work img {
  width: 775px;
  padding:8px;
  background: #111;
  border: 1px solid rgba(255,255,255,0.3);
}

.work video {
  width: 775px;
  padding:8px;
  background: #111;
  border: 1px solid rgba(255,255,255,0.3);
}

.work {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.work .title {
  font-weight: bold;
  font-size: 18px;
}

.work .right {
  margin: 0 0 0 10px;
  padding: 0;
}

.work .text {
  margin: 10px 0 0;
  padding: 0;
}

.title {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 3em
}

.item.reverse {
  flex-direction: row-reverse;
}

.banner {
  background-image: url("mokume34.png");
  background-position: left top;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .work {
    flex-direction: column;
  }

  .work img,
  .work video {
    width: 100%;
    max-width: 100%;
  }

  .item img {
    width: 300px;
    flex-shrink: 0;
}
