body {
  background-color: #000; /* 黒背景 */
  color: #fff;            /* 白文字 */
  font-family: 'Baumans', sans-serif;
}
.flex {
  display: flex;
}
.flex .image {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.flex .text {
  padding: 0;
}
