body {
  background-color: #000; /* 黒背景 */
  color: #fff;            /* 白文字 */
  font-family: 'Baumans', sans-serif;
}
.item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.item img {
  width: 512px;
  height: 512px;
  object-fit: cover;
}

.item.reverse {
  flex-direction: row-reverse;
}
