body {
  background-color: #000; /* 黒背景 */
  color: #fff;            /* 白文字 */
  font-family: 'Baumans', sans-serif;
}
.item {
  display: flex;
  align-items: center;
  gap: 40px;
}

.item img {
  width: 512px;
}

.item p {
  flex: 1;
  line-height: 1.8;
}
.item.reverse {
  flex-direction: row-reverse;
}
